/* Colors */
$blue: #064789;
$light: #f2f0e7;
$light-blue: #bddaed;
$dark: #1a1b24;
$beige: #d4d0b0;

body {
  font-family: Lora;
  font-size: 22px;
}

.color-blue {
  color: $blue;
}

.color-light {
  color: $light !important;
}

.color-light-blue {
  color: $light-blue;
}

.color-dark {
  color: $dark;
}

/* Background colors */

.bg-blue {
  background-color: $blue;
}

.bg-light {
  background-color: $light !important;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-dark {
  background-color: $dark;
}

.bg-beige {
  background-color: $beige;
}

a.navbar-brand.color-light:hover {
  color: #dee4e1;
}

.link-dark {
  a {
    color: #495057;
    text-decoration: none;
    h4 {
      color: black;
      border-bottom: 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.link-light {
  a {
    color: hsl(210, 4%, 47%);
    text-decoration: none;
    h4 {
      color: hsl(210, 4%, 47%);
      border-bottom: 0px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.page-section {
  padding: 6rem 0;
}
.page-section .page-section-heading {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2rem;
}

.active-link {
  text-decoration: underline;
  text-underline-position: under;
}

.footer {
  background-color: $blue;
  padding: 10px;
  a {
    color: $light;
    font-size: 25px;
  }
}

@import "https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap";
